<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>リスト</title>

  </head>
  <body>
    <div id="app">
      <h2>TodoList</h2>

      <form v-on:submit.prevent>
        <input type="text" v-model="newItem" />
        <button v-on:click="addItem">Add</button>
      </form>
      <ul>
        <li v-for="(todo,index) in todos">
          <input type="checkbox" v-model="todo.isDone">
          <span v-bind:class="{ done: todo.isDone}">{{ todo.item }}</span>
          <button v-on:click="deleteItem(index)">Delete</button>
        </li>
      </ul>
    </div>

    <style>
      #app ul {
        list-style: none;
      }

      #app li > span.done {
        text-decoration: line-through;
      }
    </style>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          newItem: "",
          todos: [],
        },

        methods: {
          addItem: function (event) {
            // alert();
            if (this.newItem == "") return;
            var todo = {
              item: this.newItem,
              isDone: false,
            };

            this.todos.push(todo);
            this.newItem = "";
          },
          deleteItem: function (index) {
            // alert(index);
            this.todos.splice(index, 1);
          },
        },
      });
    </script>
  </body>
</html>
